body{text-align: center;
    background: #f2f6f8;}



#container {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}

#container_small {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

#clockCanvas{
    position:absolute;
    z-index:1;}

#clockSpinner{
    position:relative;
    z-index:20;
    opacity:0.6;
}


